body { background:#4D096F; }
#body { width:1000px; margin:0 auto; position:relative; font-family:Calibri,sans-serif; font-size:14px; }

header { position:absolute; top:0; left:0; background:url('../img/logo.png') no-repeat top left; z-index:-1; }
header p { height:0; overflow:hidden; padding-top:105px; width:287px; }

section { padding-top:60px; }
section #wrap { background:url('../img/wrap.png') repeat-y top; width:995px; }

article { padding:0 17px; position:relative; height:100%; }

article #page { padding: 20px 20px 100px; }

footer { background:#E8E8E8 url('../img/footer-top.png') repeat-x top; position:absolute; bottom:0; left:17px;
    width:921px; color:#6C6C6C; padding:14px 20px; font-size:13px; }
footer a { color:#6C6C6C; }
footer nav { margin-bottom:4px; }
footer nav ul li { display:inline; }

h2 { color:#4E0A70; font-weight:bold; font-size:17px; letter-spacing:-0.5px; }
h2 span.raquo { background:url('../img/raquo.png') no-repeat left; height:9px; width:9px; display:inline-block; }
h3 { color:#000; font-weight:bold; font-size:15px; }

/* forms */
body label { color:#B90267; font-weight:bold; }
body input[type="text"] { font-size:11px; background:url('../img/input.png') no-repeat top left;
    width:231px; height:20px; border:0; padding:2px; margin:0 10px; }
body input[type="submit"] { background:url('../img/button.png') no-repeat top left; width:57px; height:24px;
    border:0; cursor:pointer; color:#FFF; font-size:13px; }
body textarea { background:url('../img/textarea.png') repeat-x top left; width:500px; height:300px; padding:2px;
    font-size:11px; border:1px solid #C8C8C8; -moz-border-radius:3px; border-radius:3px; }

/* page specific */
body.index input[type="text"] { color:#B90267; }

body.index #left,
body.index #right { padding:10px; }

body.index #left div.title,
body.index #right div.title { border-bottom:1px solid #4E0A70; line-height:20px; }

body.index #left { background:url('../img/left-box.png') no-repeat top left; width:501px; height:132px; }
body.index #left div.title { width:405px; }
body.index #right { background:url('../img/right-box.png') no-repeat top left; width:389px; height:132px; float:right; }
body.index #right div.title { width:300px; margin-bottom:18px; }

body.index fieldset { margin:12px 0; }
body.index fieldset input { vertical-align:middle; }

body.index article #page ul { color:#4D096F; }
body.index article #page ul li { line-height:20px; padding-left:20px; }
body.index article #page ul li.code { background:url('../img/ico-code.png') no-repeat left center; }
body.index article #page ul li.karma { background:url('../img/ico-heart.png') no-repeat left center; }
body.index article #page ul li.no { background:url('../img/ico-no.png') no-repeat left center; }
body.index article #page ul li.coders { background:url('../img/ico-people.png') no-repeat left center; }

body.index #right a { color:#B90267; font-weight:bold; }
body.index #right span { color:#B90267; font-size:13px; margin-left:4px; }
body.index #right ul { margin-top:16px; }

body.index ul#listing { border-top:1px solid #DEDEDE; width:500px; }
body.index ul#listing li { border-bottom:1px solid #DEDEDE; padding:0 !important; }
body.index ul#listing li.new { background:url('../img/new.png') no-repeat top right; }
body.index ul#listing li h3 { padding-top:5px; }
body.index ul#listing li div.meta { margin-bottom:5px; color:#B90267; font-size:13px; }
body.index ul#listing li div.meta a { color:#B90267; text-decoration:none; }
body.index ul#listing li div.meta span.location { float:right; margin-right:20px; padding-left:14px;
    background:url('../img/ico-location.png') no-repeat center left; }
body.index ul#listing li div.meta span.time { background:url('../img/ico-time.png') no-repeat center left;
    padding-left:14px; width:90px; display:inline-block; }
body.index ul#listing li div.meta span.tags { background:url('../img/ico-tags.png') no-repeat center left;
    padding-left:14px; }

body.index #tags { float:right; width:369px; padding:10px; background:#EFFAFE; margin-right:20px; }
body.index #tags h2 { margin-bottom:10px; }
body.index #tags h2 span,
body.index #tags h2 span a { color:#2D2D2D; font-size:13px; font-weight:normal; letter-spacing:0; }
body.index #tags ul.groups li.group { border-top:1px solid #DEDEDE; padding:0; }
body.index #tags ul.groups li.group.first { border:0; }
body.index #tags ul.groups li.group div.letter { color:#2D2D2D; font-weight:bold; font-size:15px; float:left;
    width:20px; display:inline-block; }
body.index #tags ul.groups li.group div.tags { width:349px; display:inline-block; }
body.index #tags ul.groups li.group div.tags a { color:#2D2D2D; font-size:12px; }
body.index #tags ul.groups li.group div.tags a.active { color:#B90267; text-decoration:none; font-weight:bold; }

body.new label { display:block; }
body.new label.inline { display:inline; }
body.new input,
body.new textarea { margin:2px 0 10px 0; }
body.new input[type="radio"] { margin-right:20px; }

body.new h2 { margin-bottom:20px; }
body.new p.description { float:right; width:400px; }