<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

	<title>karma coder</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="{% block page %}{% endblock %}">
    <div id="body">
        <header>
            <p>karma coder</p>
        </header>
        <section>
            <div id="wrap">
                <article>
                    {% with messages = get_flashed_messages(with_categories=true) -%}
                        {% if error or messages %}
                        <ul class="messages">
                            {% if error %}
                            <li class="error">{{ error }}</li>
                            {% endif %}

                            {% for category, message in messages %}
                            <li class="{{ category }}">{{ message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    {%- endwith -%}

                    <div id="page">
                        {% block body %}{% endblock %}

                        <div class="clear"></div>
                    </div>

                    <footer>
                        <nav>
                            <ul>
                                <li><a href="{{ url_for('listing.index') }}">Home</a>,</li>
                                <li><a href="{{ url_for('doc.about') }}">About</a>,</li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                        <p>A project by <a href="http://radekstepan.com">Radek Stepan</a></p>
                    </footer>
                </article>
            </div>
        </section>
    </div>
</body>
</html>