{% extends "layout.html" %}
{% block page %}index{% endblock %}
{% block body %}
<div id="right">
    <div class="title">
        <h2>Businesses, Nonprofits <span class="raquo"></span></h2>
    </div>
</div>
<div id="left">
    <div class="title">
        <h2>Coders, Designers <span class="raquo"></span></h2>
    </div>

    <fieldset>
        <label for="q">Find your job</label>
        <input id="q" type="text">
        <input type="submit" value="Search">
    </fieldset>
</div>

<p>More here</p>

{% endblock %}