{% extends "layout.html" %}
{% block page %}index{% endblock %}

{% block body -%}

<div id="right">
    <div class="title">
        <h2>Businesses, Nonprofits <span class="raquo"></span></h2>
    </div>

    <a href="{{ url_for('listing.new') }}">Post a job</a> <span>(free and quick)</span>

    <ul>
        <li class="no">No cost to you</li>
        <li class="coders">Coders contact you</li>
    </ul>
</div>
<div id="left">
    <div class="title">
        <h2>Coders, Designers <span class="raquo"></span></h2>
    </div>

    <fieldset>
        <label for="q">Find your job</label>
        <input id="q" type="text" value="e.g. web design, php coder">
        <input type="submit" value="Search">
    </fieldset>

    <ul>
        <li class="code">Get commercial experience</li>
        <li class="karma">Get karma for doing good</li>
    </ul>
</div>

<div id="tags">
    <h2>Filter by tags <span>(<a href="#">remove filter</a>)</span></h2>

    <ul class="groups">
        {% for group in tags.tags %}
        <li class="group {% if loop.first %}first{% endif %}">
            <div class="letter">{{ group[0] }}</div>
            <div class="tags">
                {% for tag in group[1] %}
                    <a href="#">{{ tag }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

<ul id="listing">
    <li class="new">
        <h3>Need help coding site in PHP for my scammy project</h3>
        <div class="meta">
            <span class="location">UK</span>
            <span class="time">15 hours ago</span>
            <span class="tags"><a href="#">php</a>, <a href="#">coding</a>, <a href="#">development</a></span>
        </div>
    </li>
    <li>
        <h3>Designer to do my church site</h3>
        <div class="meta">
            <span class="location">California, US</span>
            <span class="time">1 day ago</span>
            <span class="tags"><a href="#">python</a>, <a href="#">ux</a>, <a href="#">ui</a>, <a href="#">design</a></span>
        </div>
    </li>
</ul>

{%- endblock %}